{% extends 'master_page.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
    <h4>Cтраницы</h4>
    <ul>
        <li><a href="/" target="_blank">Домашнаяя</a></li>
        <li><a href="/documents" target="_blank">Документы</a></li>
        <li><a href="/progress" target="_blank">Успеваемость</a></li>
        <li><a href="/marks" target="_blank">Оценки</a></li>
        <li><a href="/schedule" target="_blank">Расписание</a></li>
        <li><a href="/registration/parent/step1" target="_blank">Регистрация родителя Шаг 1</a></li>
        <li><a href="/registration/parent/step2" target="_blank">Регистрация родителя Шаг 2</a></li>
        <li><a href="/registration/parent/step3" target="_blank">Регистрация родителя Шаг 3</a></li>
        <li><a href="/registration/student/step1" target="_blank">Регистрация ребёнка Шаг 1</a></li>
    </ul>
{% endblock %}
