{% extends 'master_page.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}
    <header class="reg-header text-center mb-5">
        <h1 class="reg-header__title">Авторизация</h1>
    </header>
    <form id="loginForm" class="reg-form__form text-center" action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <small class="text-danger">{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
            <input type="text" class="form-control" id="login" name="username" aria-describedby="login" placeholder="Логин">
            <input type="hidden" name="next" value="{{ next }}">
            <small id="loginError" class="text-danger"></small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Пароль">
            {% for error in login_form.errors %}
                <small class="text-danger">{{ error|escape }}</small>
            {% endfor %}
            <small id="passwordError" class="text-danger"></small>
        </div>
        <div class="reg-form__btn">
            <button type="submit" class="btn btn-primary btn-lg ">Войти</button>
        </div>
    </form>
{% endblock %}
