{% extends 'master_page.html' %}
{% load i18n %}
{% block title %} Учебная работа {% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if request.path == '/edu_work/index/' %} active{% endif %}" href="/edu_work/index/">Учебная работа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if request.path == '/edu_work/methodical/index/' %} active{% endif %}" href="/edu_work/methodical/index/">Учебно-методическая работа</a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link{% if request.path == '/edu_work/create/' %} active{% endif %}" href="/edu_work/create/">Добавить</a> -->
            <a class="nav-link{% if request.path == '/edu_work/scientific/create/' %} active{% endif %}" href="/edu_work/scientific/create/">Научно-методическая работа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if request.path == '/edu_work/organizational/index/' %} active{% endif %}" href="/edu_work/organizational/index/">Организационно-методическая работа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if request.path == '/edu_work/extra/index/' %} active{% endif %}" href="/edu_work/extra/index/">Внеучебная работа</a>
        </li>
    </ul>
{% endblock %}
