{% include 'edu_work/edu_work_master_page.html' %}
{% load i18n %}
{% block content %}
    <header class="reg-header text-center mb-5">
        <h1 class="reg-header__title">
            {% trans "Educational work" %}
            </h1>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="educationWorkType">Вид работы</label>
                <select id="educationWorkType" name="education_work_type">
                    {% for educational_work_type in educational_work_types %}
                    <option value="{{ educational_work_type.id }}">{{ educational_work_type.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success mb-2">Сортировать</button>
            </div>
            <div class="col-12 col-md-6">
                <a href="/edu_work/create/" class="btn btn-primary float-md-right mb-2">Добавить</a>
            </div>
            <div class="col-12">
                {% if edu_works|length > 0 %}
                
                <table class="table-responsive-xl table table-hover table-bordered dataTable" id="dataTable"
                cellspacing="0" role="grid" aria-describedby="dataTable_info">
                    <thead class="bg-secondary">
                        <tr role="row">
                            <th></th>
                            {% for field in fields %}
                                <th class="text-white">{{ field }}</th>
                            {% endfor %}
                            <!-- <th>Редактирование</th> -->
                            <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">ID
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Date
                            </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Trade
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Type
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Symbol
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Amount
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Price
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Fee
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Reg Fee
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="" style="">Ref
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for edu_work in edu_works %}
                            <tr role="row">
                                <td class="text-center">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input form-control-lg" data-id="{{ edu_work.pk}}" id="check{{ edu_work.pk }}">
                                        <label class="custom-control-label" for="check{{ edu_work.pk }}"></label>
                                    </div>
                                </td>
                                <td>{{ edu_work.education_work_type}}</td>
                                <td>{{ edu_work.by_plan_1 }}</td>
                                <td>{{ edu_work.by_fact_1 }}</td>
                                <td>{{ edu_work.deviation_1 }}</td>
                                <td>{{ edu_work.by_plan_2 }}</td>
                                <td>{{ edu_work.by_fact_2 }}</td>
                                <td>{{ edu_work.deviation_2 }}</td>
                                <td>{{ edu_work.by_plan_annual }}</td>
                                <td>{{ edu_work.by_fact_annual }}</td>
                                <td>{{ edu_work.deviation_annual }}</td>
                                <td>{{ edu_work.user.first_name }} {{ edu_work.user.last_name }}</td>
                                <td>{% if edu_work.approved == False %}
                                        <a href="{% url "edu_work_update" edu_work.id %}" class="btn btn-success">Утвердить</a>
                                    {% else %}
                                        <p class="text-success">{% trans "Approved" %}</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                                Учебная работа отсутствует
                            {% endfor %}
                            <tr role="row">
                                <td class="text-center">
                                    Итого
                                </td>
                                <td></td>
                                <td>{{ totals.by_plan_1_sum }}</td>
                                <td>{{ totals.by_fact_1_sum }}</td>
                                <td>{{ totals.deviation_1_sum }}</td>
                                <td>{{ totals.by_plan_2_sum }}</td>
                                <td>{{ totals.by_fact_2_sum }}</td>
                                <td>{{ totals.deviation_2_sum }}</td>
                                <td>{{ totals.by_plan_annual_sum }}</td>
                                <td>{{ totals.by_fact_annual_sum }}</td>
                                <td>{{ totals.deviation_annual_sum }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 ">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; {% trans "first" %}</a>
                                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                            {% endif %}

                            <span class="current">
                                {% trans "page" %} {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% else %}
                    <h3 class="text-center">Учебная работа отсутствует</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
