{% include 'edu_work/extracurricular_work/index.html' %}
{% load i18n %}
{% block content %}
    <header class="reg-header text-center mb-5">
        <h1 class="reg-header__title">
            {% trans "International cooperation" %}
            </h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="educationWorkType">Вид работы</label>
                <select id="educationWorkType" name="education_work_type">
                    {% for extracurricular_work_type in extracurricular_work_types %}
                    <option value="{{ extracurricular_work_type.id }}">{{ extracurricular_work_type.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success mb-2">Сортировать</button>
            </div>
            <div class="col-12 col-md-6">
                <a href="/edu_work/extra/int_coop/create/" class="btn btn-primary float-md-right mb-2">Добавить</a>
            </div>
            <div class="col-12">
                {% if edu_method_works|length > 0 %}
                <table class="table-responsive-xl table table-hover table-striped table-bordered dataTable" id="dataTable"
                    cellspacing="0" role="grid" aria-describedby="dataTable_info">
                    <thead>
                        <tr role="row">
                            <th></th>
                            {% for field in fields %}
                                <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for edu_method_work in edu_method_works %}
                            <tr role="row">
                                <td class="text-center">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input form-control-lg" data-id="{{ entry.pk}}" id="check{{ entry.pk }}">
                                        <label class="custom-control-label" for="check{{ entry.pk }}"></label>
                                    </div>
                                </td>
                                <td>{{ edu_method_work.edu_method_work_type}}</td>
                                <td>{{ edu_method_work.specialty }}</td>
                                <td>{{ edu_method_work.hours_1 }}</td>
                                <td>{{ edu_method_work.by_plan }}</td>
                                <td>{{ edu_method_work.by_fact }}</td>
                                <td>{{ edu_method_work.user.first_name }} {{ edu_method_work.user.last_name }}</td>
                            </tr>
                            {% empty %}
                                Список работ пуст
                            {% endfor %}
                            <tr role="row">
                                <td class="text-center">
                                    Итого
                                </td>
                                <td></td>
                                <td></td>
                                <td>{{ totals.hours_1_sum }}</td>
                                <td>{{ totals.by_plan_sum }}</td>
                                <td>{{ totals.by_fact_sum }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 ">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% else %}
                    <h3 class="text-center">Список работ пуст</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
